.container__content {
    background: linear-gradient(90deg, rgba(41,41,41,1) 49%, rgba(24,24,24,1) 100%);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.content__cover {
    position: relative;
    width: auto;
    max-width: 500px;
    overflow: hidden;
    padding: 50px;
}

.content__cover > img 
{
    width: 100%;
    border-radius: 5px;
    height: auto;
    max-height: 400px;
    align-self: center;
}
.content__text 
{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.content__title > h1 
{
    color: whitesmoke;
    font-size: 3rem;
}
.content__description
{
    height: 30vh;
    display: flex;
    align-items: center;
}
.content__description > p
{
    font-size: 1.5rem;
    line-height: 2rem;
}
a:hover
{
    text-shadow: 0 0 10px #FFFFFF, 11px 0px 6px rgba(245,245,245,0);
    background-color: transparent;
    color: var(--txt-alblue);
}
a
{
    text-decoration: none;
}