<section>
    <menu-title></menu-title>
    <big-cards 
    Id="1"
    imgCover="https://i.pinimg.com/564x/76/c9/58/76c958d075538188d81af8a75af2b650.jpg" 
    cardTitle="The bird is the word " 
    cardDescription="B-b-b-bird, bird, bird, b-bird's the word A-well-a don't you know about the bird? Well, everybody knows that the bird is the word! A-well-a bird, bird, bird, well the bird is the word
    A-well-a bird, bird, b-bird's the word A-well-a bird, bird, bird, well the bird is the word
    A-well-a bird, bird, b-bird's the word">
    </big-cards>
    <div class="small-cards__placeholder">
      <div class="small-cards__header">
        <p><span>Popular</span> Articles</p>
      </div>
      <small-cards 
      Id="2"
      imgCover="https://i.pinimg.com/564x/d7/38/58/d73858eca48f04e7229915a9082e7ba9.jpg" 
      smallCardTitle="Lemon Fish" 
      smallCardDescription="Lemon Fish Lemon Fish Lemon Fish Lemon Fish Lemon Fish Lemon Fish Lemon Fish Lemon Fish Lemon Fish Lemon Fish Lemon Fish Lemon Fish Lemon Fish">
    </small-cards>
      <small-cards 
      Id="3"
      imgCover="https://i.pinimg.com/736x/01/c9/9f/01c99f24405fed51de67576a1a82a944.jpg" 
      smallCardTitle="Orange Cat?" 
      smallCardDescription="Orange Cat Orange Cat Orange Cat Orange Cat Orange Cat Orange Cat Orange Cat Orange Cat Orange Cat Orange Cat Orange Cat">
      </small-cards>
      <small-cards 
      Id="4"
      imgCover="https://i.pinimg.com/564x/f6/e3/9a/f6e39a34923c6678554066a6e1a7a0b1.jpg" 
      smallCardTitle="Avocado Fish" 
      smallCardDescription="Avocado Fish Avocado Fish Avocado Fish Avocado Fish Avocado Fish Avocado Fish Avocado Fish">
      </small-cards>
    </div>
    <footer-big-card></footer-big-card>
  </section>
  
