.container__small-cards
{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 33%;
}
.small-cards__img,
.small-cards__text-container
{
    display: flex;
    justify-content: center;
}
.small-cards__img
{
    height: 100%;
    width: 100%;
    align-items: center;
    flex-basis: 30%;
    padding: 0 .25rem 0 .55rem;
    overflow: hidden;
}
.small-cards__img > img
{
    height: auto;
    object-fit: cover;
    max-height: 120px;
    align-self: center;
    height: 90%;
}
.small-cards__text-container
{
    flex-direction: column;
    flex-basis: 70%;
    width: 80%;
    padding-right: 1.5rem;
}
.small_cards__title h3
{
    font-size: 1.2rem;
    font-weight: bolder;
    color: aliceblue;
}
.small_cards__text > span
{
    font-size: 0.8rem;
}