<header class="container__header">
    <a href="">
        <div class="header__logo">
            <img class="header__logo-img" src="/src/assets/moacir.png" alt="logo-img" srcset="">
        </div>
    </a>
    <div class="header__menu-items">
        <ul class="header__items-list">
            <li> Home </li>
            <li> Portfolio </li>
            <li> About us </li>
        </ul>
    </div>
    <div class="header__contact">
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
        <fa-icon [icon]="faLinkedinIn" size="2x"></fa-icon>
    </div>
</header>
