.container__header
{
    background-color: var(--bkgrnd-clr);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.header__logo,
.header__menu-items,
.header__contact
{
    width: 30%;
    display: flex;
    flex-direction: row;
}
.header__logo
{
    justify-content: left;
    align-content: center;
}
.header__menu-items
{
    justify-content: center;
    font-weight: bold;
}
.header__contact
{
    justify-content: right;
}
.header__logo
{
    width: 200px;
    height: 100%;
}
.header__logo-img
{
    align-content: center;
}
p
{
    align-content: center;
}
.header__items-list
{
    display: flex;
    flex-direction: row;
}
.header__items-list li
{
    padding: 15px;
    align-content: center;
    cursor: pointer;
}
.header__items-list li:hover
{
    text-shadow: 0 0 10px #FFFFFF, 11px 0px 6px rgba(245,245,245,0);
    background-color: transparent;
    color: var(--txt-alblue);
}
.header__contact
{
    display: flex;
    flex-direction: row;
}
.header__contact fa-icon
{
    align-content: center;
    padding: 0.45rem;
    cursor: pointer;
}
.header__items-list li a:hover
{
    text-shadow: 0 0 10px #FFFFFF, 11px 0px 6px rgba(245,245,245,0);
    background-color: transparent;
    color: var(--txt-alblue);
}
.header__items-list > li a
{
    text-decoration: none;
}