/* You can add global styles to this file, and also import other style files */
:root
{
    --bkgrnd-clr: #181818;
    --txt-gray: #868686;
    --dtls-gray: #3F3F40;
    --hl-hver: #353535;
    --txt-title: #F5F5F5;
    --txt-alblue: #F0F8FF;
    --crd-hver: #363636;
}
*
{
    margin: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--txt-gray);
}
